#### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

warnings.filterwarnings("ignore")

#### Import Data

In [2]:
df = pd.read_csv('failure.csv')

#### EDA - Exploratory Data Analysis

In [3]:
df.shape

(124494, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124494 entries, 0 to 124493
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        124494 non-null  object
 1   device      124494 non-null  object
 2   failure     124494 non-null  int64
 3   attribute1  124494 non-null  int64
 4   attribute2  124494 non-null  int64
 5   attribute3  124494 non-null  int64
 6   attribute4  124494 non-null  int64
 7   attribute5  124494 non-null  int64
 8   attribute6  124494 non-null  int64
 9   attribute7  124494 non-null  int64
 10  attribute8  124494 non-null  int64
 11  attribute9  124494 non-null  int64
dtypes: int64(10), object(2)
memory usage: 11.4+ MB

In [5]:
df.head()

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3

In [6]:
df.describe()

,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
count,124494.000000,1.244940e+05,124494.000000,124494.000000,124494.000000,124494.000000,124494.000000,124494.000000,124494.000000,124494.000000
mean,0.000851,1.223868e+08,159.484762,9.940455,1.741120,14.222693,260172.858025,0.292528,0.292528,12.451524
std,0.029167,7.045960e+07,2179.657730,185.747321,22.908507,15.943021,99151.009852,7.436924,7.436924,191.425623
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,8.000000,0.000000,0.000000,0.000000
25%,0.000000,6.127675e+07,0.000000,0.000000,0.000000,8.000000,221452.000000,0.000000,0.000000,0.000000
50%,0.000000,1.227957e+08,0.000000,0.000000,0.000000,10.000000,249799.500000,0.000000,0.000000,0.000000
75%,0.000000,1.833084e+08,0.000000,0.000000,0.000000,12.000000,310266.000000,0.000000,0.000000,0.000000
max,1.000000,2.441405e+08,64968.000000,24929.000000,1666.000000,98.000000,689161.000000,832.000000,832.000000,18701.000000

In [7]:
df.failure.unique()

array([0, 1])

Description of column failure: 0 for non-failure and 1 for failure

In [8]:
df.failure.value_counts()

0    124388
1       106
Name: failure, dtype: int64

#### Feature Engineering

In [9]:
df['Date']  = pd.to_datetime(df['date'])

In [10]:
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month_name()
df["day"]=df["Date"].dt.day_name()

In [11]:
df.head()

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,Date,year,month,day
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7,2015-01-01,2015,January,Thursday
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0,2015-01-01,2015,January,Thursday
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0,2015-01-01,2015,January,Thursday
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0,2015-01-01,2015,January,Thursday
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3,2015-01-01,2015,January,Thursday

In [12]:
del df['Date']

In [13]:
df.groupby('month')['failure'].value_counts(ascending=True)

month      failure
April      1              9
           0          12003
August     1              4
           0           8342
February   1             14
           0          19486
January    1             24
           0          25008
July       1             16
           0          10515
June       1              6
           0          10463
March      1              9
           0          19824
May        1             21
           0          11309
November   0             31
October    1              3
           0           2937
September  0           4470
Name: failure, dtype: int64

In [14]:
df.corr()['failure'].sort_values(ascending=False)

failure       1.000000
attribute7    0.119055
attribute8    0.119055
attribute4    0.067398
attribute2    0.052902
attribute5    0.002270
attribute1    0.001984
attribute9    0.001622
attribute6   -0.000550
attribute3   -0.000948
year               NaN
Name: failure, dtype: float64

Check Attribute7 and Attribute8 (seem to be equal)

In [15]:
df['attribute7'].equals(df['attribute8'])

True

In [16]:
del df['attribute8']

In [17]:
df[['attribute3','attribute4','attribute7','attribute9']] = df[['attribute3','attribute4','attribute7','attribute9']].astype('object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124494 entries, 0 to 124493
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        124494 non-null  object
 1   device      124494 non-null  object
 2   failure     124494 non-null  int64
 3   attribute1  124494 non-null  int64
 4   attribute2  124494 non-null  int64
 5   attribute3  124494 non-null  object
 6   attribute4  124494 non-null  object
 7   attribute5  124494 non-null  int64
 8   attribute6  124494 non-null  int64
 9   attribute7  124494 non-null  object
 10  attribute9  124494 non-null  object
 11  year        124494 non-null  int64
 12  month       124494 non-null  object
 13  day         124494 non-null  object
dtypes: int64(6), object(8)
memory usage: 13.3+ MB

In [19]:
del df['date']

In [20]:
df.year

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
124489    2015
124490    2015
124491    2015
124492    2015
124493    2015
Name: year, Length: 124494, dtype: int64

In [21]:
df.year.value_counts()

2015    124494
Name: year, dtype: int64

In [22]:
del df['year']

#### Prediciton and selecting the Algorithm

In [23]:
x=df.drop('failure',axis=1)
y=df['failure']

In [24]:
x=pd.get_dummies(x,drop_first=True)

In [25]:
from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,precision_score,recall_score,f1_score
from sklearn.model_selection import train_test_split

In [41]:
def classification(x,y):
    from sklearn.naive_bayes import GaussianNB
    from sklearn.naive_bayes import BernoulliNB
    from sklearn.svm import SVC
    from sklearn.neighbors import KNeighborsClassifier
    from sklearn.tree import DecisionTreeClassifier
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.linear_model import LogisticRegression
    from xgboost import XGBClassifier #yüklemek için !pip install xgboost kullandım
    from sklearn.ensemble import GradientBoostingClassifier
    
    import imblearn
    from imblearn.under_sampling import RandomUnderSampler
    from imblearn.metrics import geometric_mean_score, make_index_balanced_accuracy, classification_report_imbalanced

    from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
    from sklearn.metrics import confusion_matrix,classification_report
              
    g=GaussianNB()
    b=BernoulliNB()
    KN=KNeighborsClassifier()
    SVC=SVC() 
    D=DecisionTreeClassifier()
    R=RandomForestClassifier()
    Log=LogisticRegression()
    XGB=XGBClassifier()
    G=GradientBoostingClassifier()
      
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=13)
    
    
    algos=[g,b,KN,SVC,D,R,Log,XGB,G]
    algo_names=['GaussianNB','BernoulliNB','KNeighborsClassifier','SVC','DecisionTreeClassifier','RandomForestClassifier','LogisticRegression','XGBClassifier','GradientBoostingClassifier']
    
    accuracy_scored=[]
    precision_scored=[]
    recall_scored=[]
    f1_scored=[]
    
    RUS=RandomUnderSampler(random_state=42)
    x_RUS,y_RUS=RUS.fit_resample(x_train,y_train)
    
    for item in algos:

        #item.fit(x_RUS,y_RUS)
        predict=item.fit(x_RUS,y_RUS).predict(x_test)
        
        
        accuracy_scored.append(accuracy_score(y_test,predict))
        precision_scored.append(precision_score(y_test,predict))
        recall_scored.append(recall_score(y_test,predict))
        f1_scored.append(f1_score(y_test,predict))

    result=pd.DataFrame(columns=['accuracy_score','f1_score','recall_score','precision_score'],index=algo_names)
    result['accuracy_score']=accuracy_scored
    result['f1_score']=f1_scored
    result['recall_score']=recall_scored
    result['precision_score']=precision_scored
    
    return result.sort_values('accuracy_score',ascending=False)

In [43]:
classification(x,y)

,accuracy_score,f1_score,recall_score,precision_score
GaussianNB,0.990907,0.020761,0.081081,0.011905
BernoulliNB,0.915885,0.011329,0.405405,0.005745
RandomForestClassifier,0.901427,0.009684,0.405405,0.004900
GradientBoostingClassifier,0.883884,0.009320,0.459459,0.004708
DecisionTreeClassifier,0.806741,0.005621,0.459459,0.002828
XGBClassifier,0.708681,0.004829,0.594595,0.002425
SVC,0.645868,0.002895,0.432432,0.001452
KNeighborsClassifier,0.490265,0.002264,0.486486,0.001135
LogisticRegression,0.001189,0.002375,1.000000,0.001189

### Deep Learning

In [44]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import imblearn
from imblearn.under_sampling import RandomUnderSampler
from imblearn.metrics import geometric_mean_score, make_index_balanced_accuracy, classification_report_imbalanced

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=13)

RUS=RandomUnderSampler(random_state=42)
x_RUS,y_RUS=RUS.fit_resample(x_train,y_train)

In [46]:
model=Sequential()
model.add(Dense(500,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [47]:
model.compile(loss='binary_crossentropy',optimizer="adam",metrics=["accuracy"])
history = model.fit(x_RUS,y_RUS, batch_size=128, epochs=40, verbose=1, validation_data=(x_test,y_test))

Epoch 1/40
2/2 [==============================] - 4s 3s/step - loss: 485740.3438 - accuracy: 0.4565 - val_loss: 3306.2830 - val_accuracy: 0.9988
Epoch 2/40
2/2 [==============================] - 1s 1s/step - loss: 1464691.0000 - accuracy: 0.4710 - val_loss: 557114.8750 - val_accuracy: 0.0018
Epoch 3/40
2/2 [==============================] - 1s 1s/step - loss: 269979.7500 - accuracy: 0.5290 - val_loss: 3857.5107 - val_accuracy: 0.9988
Epoch 4/40
2/2 [==============================] - 1s 1s/step - loss: 1569107.5000 - accuracy: 0.5000 - val_loss: 167108.4688 - val_accuracy: 0.0040
Epoch 5/40
2/2 [==============================] - 1s 1s/step - loss: 83302.6953 - accuracy: 0.5000 - val_loss: 942.2748 - val_accuracy: 0.9988
Epoch 6/40
2/2 [==============================] - 1s 999ms/step - loss: 376746.3438 - accuracy: 0.5000 - val_loss: 1031975.5625 - val_accuracy: 0.0017
Epoch 7/40
2/2 [==============================] - 1s 971ms/step - loss: 519462.5000 - accuracy: 0.5000 - val_loss: 492536.5625 - val_accuracy: 0.0022
Epoch 8/40
2/2 [==============================] - 1s 969ms/step - loss: 266260.0938 - accuracy: 0.5000 - val_loss: 546.3922 - val_accuracy: 0.9988
Epoch 9/40
2/2 [==============================] - 1s 975ms/step - loss: 226349.7969 - accuracy: 0.5000 - val_loss: 403099.1875 - val_accuracy: 0.0028
Epoch 10/40
2/2 [==============================] - 1s 988ms/step - loss: 186562.6875 - accuracy: 0.5000 - val_loss: 846.8994 - val_accuracy: 0.9988
Epoch 11/40
2/2 [==============================] - 1s 976ms/step - loss: 366595.9062 - accuracy: 0.5000 - val_loss: 711.1139 - val_accuracy: 0.9988
Epoch 12/40
2/2 [==============================] - 1s 1s/step - loss: 282058.3125 - accuracy: 0.5000 - val_loss: 645801.0000 - val_accuracy: 0.0018
Epoch 13/40
2/2 [==============================] - 1s 1s/step - loss: 333597.9062 - accuracy: 0.5000 - val_loss: 718590.8750 - val_accuracy: 0.0015
Epoch 14/40
2/2 [==============================] - 1s 988ms/step - loss: 347685.4062 - accuracy: 0.5000 - val_loss: 65.6643 - val_accuracy: 0.9988
Epoch 15/40
2/2 [==============================] - 1s 976ms/step - loss: 32281.8848 - accuracy: 0.5000 - val_loss: 171.8034 - val_accuracy: 0.9988
Epoch 16/40
2/2 [==============================] - 1s 970ms/step - loss: 71786.2422 - accuracy: 0.4855 - val_loss: 66.7038 - val_accuracy: 0.9988
Epoch 17/40
2/2 [==============================] - 1s 1s/step - loss: 26634.2207 - accuracy: 0.5000 - val_loss: 119730.0547 - val_accuracy: 0.0022
Epoch 18/40
2/2 [==============================] - 1s 1s/step - loss: 60552.5273 - accuracy: 0.5000 - val_loss: 65397.6641 - val_accuracy: 0.0022
Epoch 19/40
2/2 [==============================] - 1s 1s/step - loss: 31084.1621 - accuracy: 0.5000 - val_loss: 132.2620 - val_accuracy: 0.9988
Epoch 20/40
2/2 [==============================] - 1s 1s/step - loss: 54033.9258 - accuracy: 0.5000 - val_loss: 57818.1797 - val_accuracy: 0.0022
Epoch 21/40
2/2 [==============================] - 1s 1s/step - loss: 28838.5469 - accuracy: 0.5000 - val_loss: 15.6875 - val_accuracy: 0.9957
Epoch 22/40
2/2 [==============================] - 1s 977ms/step - loss: 7078.7129 - accuracy: 0.4855 - val_loss: 47.3988 - val_accuracy: 0.9970
Epoch 23/40
2/2 [==============================] - 1s 979ms/step - loss: 19112.2852 - accuracy: 0.5000 - val_loss: 57527.2617 - val_accuracy: 0.0022
Epoch 24/40
2/2 [==============================] - 1s 975ms/step - loss: 28469.5059 - accuracy: 0.5000 - val_loss: 42.3747 - val_accuracy: 0.9961
Epoch 25/40
2/2 [==============================] - 1s 969ms/step - loss: 17415.1426 - accuracy: 0.5000 - val_loss: 50177.0195 - val_accuracy: 0.0022
Epoch 26/40
2/2 [==============================] - 1s 1s/step - loss: 25479.9336 - accuracy: 0.5000 - val_loss: 6704.8662 - val_accuracy: 0.0022
Epoch 27/40
2/2 [==============================] - 1s 1s/step - loss: 5999.0308 - accuracy: 0.5000 - val_loss: 113.8560 - val_accuracy: 0.9973
Epoch 28/40
2/2 [==============================] - 1s 984ms/step - loss: 44060.4922 - accuracy: 0.5000 - val_loss: 136435.7500 - val_accuracy: 0.0021
Epoch 29/40
2/2 [==============================] - 1s 993ms/step - loss: 68828.2031 - accuracy: 0.5000 - val_loss: 109520.6875 - val_accuracy: 0.0021
Epoch 30/40
2/2 [==============================] - 1s 971ms/step - loss: 53525.2695 - accuracy: 0.4710 - val_loss: 31345.0352 - val_accuracy: 0.0022
Epoch 31/40
2/2 [==============================] - 1s 979ms/step - loss: 14861.7812 - accuracy: 0.5000 - val_loss: 33658.4414 - val_accuracy: 0.0022
Epoch 32/40
2/2 [==============================] - 1s 975ms/step - loss: 16016.9346 - accuracy: 0.5000 - val_loss: 21.5880 - val_accuracy: 0.9956
Epoch 33/40
2/2 [==============================] - 1s 977ms/step - loss: 10587.2676 - accuracy: 0.5145 - val_loss: 51436.0430 - val_accuracy: 0.0022
Epoch 34/40
2/2 [==============================] - 1s 1s/step - loss: 27248.0234 - accuracy: 0.4710 - val_loss: 16153.1201 - val_accuracy: 0.0023
Epoch 35/40
2/2 [==============================] - 1s 1s/step - loss: 7965.2700 - accuracy: 0.4710 - val_loss: 32475.7207 - val_accuracy: 0.0023
Epoch 36/40
2/2 [==============================] - 1s 1s/step - loss: 15364.9238 - accuracy: 0.5000 - val_loss: 86.7418 - val_accuracy: 0.9973
Epoch 37/40
2/2 [==============================] - 1s 1s/step - loss: 36453.2188 - accuracy: 0.5000 - val_loss: 37.5446 - val_accuracy: 0.9954
Epoch 38/40
2/2 [==============================] - 1s 1s/step - loss: 16763.4844 - accuracy: 0.4855 - val_loss: 82744.9297 - val_accuracy: 0.0022
Epoch 39/40
2/2 [==============================] - 1s 1s/step - loss: 41085.5508 - accuracy: 0.5000 - val_loss: 10592.9727 - val_accuracy: 0.0023
Epoch 40/40
2/2 [==============================] - 1s 993ms/step - loss: 5716.8271 - accuracy: 0.5290 - val_loss: 132.0220 - val_accuracy: 0.9988

In [48]:
_, accuracy=model.evaluate(x_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

973/973 [==============================] - 3s 3ms/step - loss: 132.0220 - accuracy: 0.9988
Accuracy: 99.88